{% extends "base.html" %}

{% block title %}Relectronics | Search Stock{% endblock %}

{% block content_header %}
Search for Parts
{% endblock %}

{% block contents %}
<!--===============Search Form =====================-->
<form action="/parts/search/" method="post" class="well form-search">
    {% csrf_token %}
  <input type="text" class="input-medium search-query" name="term">
  <button type="submit" class="btn">Search</button>
</form>

<!--=============== Results =====================-->
{% if count > 0 %}
<h2>Components:</h2>
<table class="table table-striped">
	<tr>
	<td>Part Number</td>
	<td>Name</td>
	<td>Stock</td>
	<td></td>
	</tr>
	{% for p in results %}
	<tr>
	<td>{{p.partNum}}</td>
	<td><a href="/parts/{{p.pk}}">{{p.shortName}}</a></td>
	<td>{{p.stock}}</td>
	<td>Add To Cart</td>
	</tr>
	{% endfor %}
</table>
<p>
	{% if prev > 0 %}
	<a href="/parts/search/{{prev}}">Previous</a>
	{% endif %}
	{% if next > 0 %}
	<a href="/parts/search/{{next}}">Next</a>
	{% endif %}
</p>
{% else %}
<h2>No Components Found :(</h2>
{% endif %}
{% endblock %}