<html>
<head>
	<title>{% block title %}Relectronics{% endblock %}</title>
</head>

<body style="
    padding: 0px;
    margin: 0px;
">
	<div id="container">
		<div id="pageBody">
			<div id="sidebar" style="
			    width: 150px;
			    float: left;
			    height: 100%;
			    overflow-y: scroll;
			    border-right: solid;
			    border-right-color: #000;
				padding: 15px;
			">
			{% block sidebar %}
			<a href="/parts/search/">Parts</a>
			<br>
			<a href="/parts/suppliers">Suppliers</a>
			{% endblock %}
			</div>
			<div id="contents" style="
			    float: left;
			    width: 800px;
			    height: 100%;
			    overflow-y: scroll;
			    padding-left: 15px;
				padding-top: 15px;
			">
			{% block contents %}
			contents
			{% endblock %}
			</div>
		</div>
	</div>
</body>
</html>